
 body{
background-color:rgb(10,100,200);
} 


h1{
  color: navy;
  margin-left: 20px;
}
h2
{
color:gray;
margin-left: 20px;
}
h3
{
color:gray;
margin-left: 20px;
}
h4
{
color:gray;
margin-left: 20px;
}